<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="summaryDialog" class="popup-dialog summary-dialog">
<!--  <header>-->
<!--    <h1>Supplier Contact</h1>-->
<!--    <a href="javascript:;" class="close-button">-->
<!--      <i class="fas fa-window-close"></i>-->
<!--    </a>-->
<!--  </header>-->
  <div>
    <span class="summary"></span>
  </div>
  <a class="blue-button close-button">Close</a>
</div>
</body>
</html>