<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<th:block th:replace="~{layout :: template('Author Index')}"></th:block>
<div class="home">
    <h1>Winterhold Library</h1>
    <p>Knowledge is the best weapon you have, please
        find some fascinating books we have.
        This app will help you do that, as long as you
        keep extend your membership!
        (its totally free!)</p>
</div>
</body>
</html>